.Filters {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 945px;
    border: 1px solid black;
    margin: 12px;
    font-size: 20px;
    justify-content: space-between;
}
.Filters-Header {
    display: flex;
    justify-content:space-between;
    padding: 24px;
}

.Filters-Header > p {
    margin: 0;
}

.Filters-Main {
    display: flex;
    flex-direction: column;
}

.Filters-Main > select {
    margin: 24px;
}

.Filters-genres {
    height: 500px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

input[type="radio"] {
    height: 16px;
    width: 16px;

}